# Python cache and compiled files
__pycache__/
*.pyc

# Virtual environment
venv/

# VS Code settings
.vscode/

# Huge datasets
datasets/

# Model artifacts
*.pkl
*.npz

# Backend env file
backend/.env

# Frontend junk
frontend/node_modules/
frontend/build/
frontend/dist/
